.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px; 

    grid-template-areas:
   "h h"
   "n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1fr 6fr;
     /* grid-gap: 10px; */
}

